{% extends "base.html" %}
{% block title %}Applications{% endblock %}
{% block content %}

<h1 class="title">All Applications
    <span class="links">
        <a href="./applications.tsv"
           title="Download Applications as Tab-Separated-Values (TSV)"
           class="button is-light">
            <span class="icon"><i class="fas fa-file-download"></i></span>
        </a>
    </span>
</h1>

<table class="table is-striped is-hoverable is-fullwidth" data-sortable>
    <thead>
        <tr>
            <th>ID</th>
            <th>Teams</th>
            <th><abbr title="Active?">A?</abbr></th>
            <th><abbr title="Clusters">C</abbr></th>
            <th><abbr title="Pods">P</abbr></th>
            <th><abbr title="CPU Requests">CR</abbr></th>
            <th><abbr title="Memory Requests">MR</abbr></th>
            <th>CPU</th>
            <th>Memory (MiB)</th>
            <th class="has-text-right">Cost</th>
            <th class="has-text-right">Slack Cost</th>
            {% if links['application']: %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for application_id, app in applications.items()|sort: %}
        <tr>
            <td><a href="application-{{ application_id }}.html">{{ application_id }}</a></td>
            <td>{% for team_id in app.teams.keys()|sort: %}<a href="team-{{ team_id }}.html" class="{{ 'is-italic' if not team_id }}">{{ team_id if team_id else '?unknown?' }}</a> {% endfor %}</td>
            <td>
                {% if app.active is not none: %}
                {% if app.active: %}
                <span class="icon"><i class="fas fa-check-square has-text-success"></i></span>

                {% else: %}
                <span class="icon"><i class="fas fa-exclamation-triangle has-text-warning"></i></span>
                {% endif %}
                {% endif %}

            </td>
            <td>{{ app.clusters|count }}</td>
            <td>{{ app.pods }}</td>
            <td>{{ app.requests.cpu|round(3) }}</td>
            <td data-value="{{ app.requests.memory }}">{{ app.requests.memory|filesizeformat(True) }}</td>

            <td style="font-size: 0.75rem" data-value="{{ app.usage.cpu }}">
                {{ elements.resource_bar_cpu(app) }}
            </td>
            <td style="font-size: 0.75rem" data-value="{{ app.usage.memory }}">
                {{ elements.resource_bar_memory(app) }}
            </td>

            <td class="has-text-right">{{ app.cost|money }}</td>
            <td class="has-text-right">{{ app.slack_cost|money }}</td>

            {% if links['application']: %}
            <td class="links">
                <div class="buttons has-addons">
                    {% for link in links['application']: %}
                    <a href="{{ link.href.format(**app) }}"
                       title="{{ link.title.format(**app) }}"
                       class="button is-small">
                        <span class="icon"><i class="fas fa-{{ link.icon }}"></i></span>
                    </a>
                    {% endfor %}
                </div>
            </td>
            {% endif %}
        </tr>

        {%endfor %}
    </tbody>

</table>
{% endblock %}
